body {
    max-width: 1400px;
    margin: 0 auto;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    color: #544837;
}

h1,
h2,
h3,
h4 {
    color: #2F281E;
}

h1 {
    font-size: 44px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 24px;
}

a {
    text-decoration: none;
    font-family: Helvetica;
    color: #544837;
}

header,
section,
.cards {
    max-width: 1126px;
    margin: 0 auto;
    display: flex;
}

section {
    padding: 4em 0;
}

section svg {
    max-width: 600px;
}

header {
    height: 7em;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#top-nav-menu {
    display: flex;
    margin-left: 8em;
}

#top-nav-menu ul {
    display: flex;
}

#top-nav-menu ul li {
    padding: 0 1rem;
}

#top-nav-menu a {
    font-size: 14px;
    color: #2F281E;
    line-height: 28px;
}

.icon-burger-menu {
    display: none;
}

button {
    padding: 0.7rem 1.2rem;
    border-radius: 4px;
    font-size: 16px;
}

.default-btn {
    background: none;
    border: 1px solid #D8D8D8;
    color: #D8D8D8;
    font-family: Helvetica;
}

.orange-btn {
    color: white;
    background-color: #FF9900;
    border: none;
}

.orange-btn-2 {
    color: #FF9900;
    background-color: transparent;
    border: none;
}

.default-btn:hover,
.orange-btn:hover,
.orange-btn-2:hover {
    cursor: pointer;
    filter: invert(25%);
}

#hero {
    display: flex;
    align-items: center;
}

#hero p {
    padding: 2em 0 3em;
}

.fa-play {
    margin-right: 0.5em;
}

#feature {
    display: block;
    max-width: 100%;
    background-image: linear-gradient(1deg, rgba(255, 229, 210, 0.63) 0%, rgba(255, 244, 229, 0.00) 100%);
    border-bottom-left-radius: 50% 35%;
    border-bottom-right-radius: 50% 35%;
}

#feature h2 {
    text-align: center;
    max-width: 40%;
    margin: 0 auto;
    padding-bottom: 2em;
}

#feature .cards {
    display: flex;
    justify-content: space-between;
}

.card {
    max-width: 220px;
}

.card-icon {
    position: relative;
}

.card-icon svg {
    position: relative;
    left: -30px;
}

#feature .cards h3 {
    font-size: 22px;
    padding-bottom: 1em;
}

#featture .cards p {
    font-size: 16px;
}

.feature-cta {
    display: flex;
    justify-content: center;
    padding: 3em 0 4em;
}

#effortless-validation {
    align-items: center;
}

#effortless-validation .text {
    padding-right: 5em;
}

#effortless-validation h3 {
    font-size: 16px;
}

#effortless-validation p {
    padding: 1em 0;
}

#effortless-validation div div:nth-child(4) {
    padding-top: 3em;
}

#product-managers h2 {
    padding: 0.5em 0 1.5em;
}

#product-managers .text {
    padding-left: 5em;
}

#product-managers .check {
    padding-top: 3em;
}

#product-managers .check li {
    width: 80%;
    display: flex;
    align-items: center;
    padding-bottom: 2em;
}

#product-managers .check svg {
    min-width: 37px;
    margin-right: 1em;
}

#marketers .text {
    padding-right: 5em;
}

#marketers h2 {
    padding: 0.5em 0 1.5em;
}

#marketers div {
    padding: 1.2em 0;
}

#marketers h3 {
    padding-bottom: 1em;
    font-size: 16px;
}

#need-a-super-hero {
    position: relative;
    min-width: 100%;
    height: 835px;
    background-image: linear-gradient(179deg, rgba(255, 229, 210, 0.63) 0%, rgba(255, 244, 229, 0.00) 100%);
    border-top-left-radius: 50% 35%;
    border-top-right-radius: 50% 35%;
}

#need-a-super-hero img {
    position: absolute;
}

#need-a-super-hero>img:nth-child(2) {
    top: 500px;
    left: 85px;
}

#need-a-super-hero>img:nth-child(3) {
    top: 600px;
    left: 520px;
}

#need-a-super-hero>img:nth-child(4) {
    right: 200px;
    top: 210px;
}

#need-a-super-hero>img:nth-child(5) {
    right: 100px;
    top: 480px;
}

#need-a-super-hero>img:nth-child(6) {
    top: 250px;
    left: 30px;
}

#need-a-super-hero img:hover,
.card-icon:hover {
    animation: shake 1s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

#need-a-super-hero .text {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#need-a-super-hero .text p {
    width: 48%;
    text-align: center;
    padding: 2em 0;
}

#marketing-strategies {
    display: flex;
    flex-direction: column;
}

#marketing-strategies h2 {
    padding: 0.5em 0;
    font-size: 24px;
}

#marketing-strategies h4 {
    font-size: 22px;
}

#marketing-strategies #slider {
    display: flex;
    justify-content: space-between;
    padding-top: 2em;
}

#marketing-strategies .slide-card {
    width: 33%;
}

.control {
    text-align: center;
    padding: 20px;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #EFEFEF;
    border-radius: 50%;
    display: inline-block;
}

.box {
    display: flex;
    flex-direction: row;
}

.col1 {
    order: 1;
}

.col2 {
    order: 2;
}

.col3 {
    order: 3;
}

footer {
    max-width: 1126px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 2em 0;
    border-top: 1px solid #BCD0E5;
}

footer h4 {
    font-size: 1.2em;
    padding-bottom: 1em;
}

footer li {
    padding: 0.3em 0;
}

footer .contact {
    width: 325px;
}

footer form {
    display: flex;
    flex-direction: column;
}

footer form input,
footer form button {
    height: 48px;
}

footer form input {
    margin-bottom: 2em;
}

footer form button {
    width: 130px;
}

/*Animation*/
.typed-out {
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    width: 0;
    animation: typing 1.5s forwards;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

.show {
    opacity: 0;
    animation: show 3s forwards;
}

@keyframes show {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.toLeft {
    position: relative;
    left: -1000px;
    animation: toLeft 1.5s forwards;
}

@keyframes toLeft {
    from {
        left: -1000;
    }

    to {
        left: 0;
    }
}

.toRight {
    position: relative;
    right: -1000px;
    animation: toRight 1.5s forwards;
}

@keyframes toRight {
    from {
        right: -1000;
    }

    to {
        right: 0;
    }
}

/* Small devices (phones) */
@media (min-width: 400px)  and (max-width: 992px){
    .icon-burger-menu {
        display: block;
        color: #2F281E;
    }

    #top-nav-menu {
        margin: 0;
        z-index: 10;
    }

    #top-nav-menu ul {
        width: 100%;
        padding: 2em 0;
        text-align: center;

    }

    #top-nav-menu ul li:hover {
        background-color: #FF9900;
    }

    #top-nav-menu ul,
    #top-nav-menu .connect {
        display: none;
    }

    .top-nav.responsive {
        position: absolute;
        width: 100%;
        top: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
        background-color: white;
    }

    .top-nav .icon {
        position: absolute;
        right: 0;
        top: 25px;
    }

    .top-nav.responsive .icon {
        position: absolute;
        right: 0;
        top: 25px;
    }

    #top-nav-menu.responsive ul,
    #top-nav-menu.responsive .connect {
        display: block;
    }

    #top-nav-menu.responsive ul li {
        padding-bottom: 0.5rem;
    }

    header,
    section,
    .cards {
        align-items: center;
    }

    h1 {
        text-align: center;
    }

    section,
    #slider,
    footer {
        flex-direction: column;
        padding: 0 1em 2em;
    }

    #product-managers .text,
    #effortless-validation .text,
    #marketers .text {
        padding: 0;
    }

    #product-managers {
        flex-direction: column-reverse;
    }

    #feature,
    #need-a-super-hero {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    #feature h2 {
        max-width: 100%;
    }

    #feature .cards {
        flex-direction: column;
    }

    #marketing-strategies {
        margin-top: 4em;
    }

    #marketing-strategies .slide-card {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    #need-a-super-hero img {
        position: initial;
    }

    #hero img,
    #feature img,
    #effortless-validation img,
    #product-managers img,
    #marketers img,
    #need-a-super-hero img {
        max-width: 50%;
    }
    #need-a-super-hero h2 {
        margin-top: 1em;
    }
    footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    footer>div.logo {
        width: 100%;
        margin: 2em 0;
    }
    footer div,
    footer .contact {
        width: 100%;
    }


}

@media (min-width: 600px) and (max-width: 750px) {

    #hero img,
    #feature img,
    #effortless-validation img,
    #product-managers img,
    #marketers img,
    #need-a-super-hero img {
        max-width: 50%;
    }
    #feature .cards {
        flex-direction: row;
        flex-wrap: wrap;
    }
    footer {
        flex-direction: row;
        flex-wrap: wrap;
        text-align: center;
        margin: 0 1em;
    }

    footer div,
    footer .contact {
        width: 30%;
    }
}

/* Medium devices (tablets) */
@media (min-width: 750px) and (max-width: 992px) {
    
    #top-nav-menu {
        margin: 0;
    }
    #hero,
    #effortless-validation,
    #product-managers,
    #marketers,
    #marketing-strategies {
        margin: 0 2em;
    }

    #hero img,
    #feature img,
    #effortless-validation img,
    #product-managers img,
    #marketers img,
    #need-a-super-hero img {
        max-width: 50%;
    }
    #feature .cards {
        flex-direction: row;
        flex-wrap: wrap;
    }
    #feature .card{
        width: 50%;
        max-width: 50%;
    }
    #need-a-super-hero{
        margin-bottom: 7em;
    }
    footer {
        flex-direction: row;
        flex-wrap: wrap;
        text-align: center;
        margin: 0 1em;
    }

    footer div,
    footer .contact {
        width: 30%;
    }
}